<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="icon" href="https://www.iconsdb.com/icons/preview/barbie-pink/letter-k-xxl.png">
    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
          float: center;
      }
      
      li a {
          display: block;
          font-family: didot;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }
      
      li a:hover {
          background-color: #111;
      }
      .active {
          background-color: #ff0094;
      }
      body {
        background-color: #ffc1c1;
        font-family: didot;
      }
    </style>
  </head>
  <body>
    <center>
      <img src = "https://document-export.canva.com/DAC_IYfJ_6A/72/preview/0001-1620668831.png">
    </center>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a class="active" href="/about">About Us</a></li>
      <li><a href="/quiz">Baking Quiz</a></li>
    </ul>
    <br><br>
    <center>
      <img src = "https://document-export.canva.com/DAC_J6qjCjQ/21/preview/0001-1622184606.png">
    </center>
    <h3>Fun Facts</h3>
      <li>Joanna-I'm a freshman in high school and I love front-end coding.</li> <br>
      <li>Joy-I'm a freshman and I know 3 coding languages.</li><br>
      <li>Katie- I'm a senior in high school and I know 5 coding languages.</li><br>
    <h3>What We All Have In Common</h3>
    <p>We all like baking or eating sweet treats.</p>
    <h3>Inspiring Women in Tech</h3>
      <li>Karlie Kloss-she's the one who started Kode with Klossy (also our website name is inspired by her)</li>
    <img src="https://static.wixstatic.com/media/fa82a7_1929a1464744466caa8d34d11d4d6203~mv2_d_3000_1688_s_2.jpg/v1/fill/w_980,h_1024,al_c,q_85,usm_0.66_1.00_0.01/fa82a7_1929a1464744466caa8d34d11d4d6203~mv2_d_3000_1688_s_2.webp" width="200"height="200">
    <img src="https://pbs.twimg.com/profile_images/913765818697166848/an4MJ25E_400x400.jpg" height="200"width="200">
  </body>
</html>
