<!DOCTYPE html>
<html>
<head>
  <title>Baking Quiz</title>
  <link rel="icon" href="https://www.iconsdb.com/icons/preview/barbie-pink/letter-k-xxl.png">
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

li a {
    display: block;
    font-family: didot;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #ff0094;
}
  body{
    background-color:#ffc1c1;
    font-family: didot;
  }
</style>
</head>
<body>
  <center>
<img src="https://document-export.canva.com/DAC_IYfJ_6A/72/preview/0001-1620668831.png">
  </center>
<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/about">About Us</a></li>
  <li><a class="active" href="/quiz">Baking Quiz</a></li>
</ul>
  <br>
  <h2>Cake Balls</h2>
<img src="https://images-gmi-pmc.edge-generalmills.com/5244b10d-48b2-42bd-95b5-88fad89efb7f.jpg">

<li>1  package chocolate cake mix</li>
<li>1  container prepared chocolate frosting</li>
<li>(3 ounce) bar chocolate flavored confectioners coating</li>

<ol>
<li>Prepare the cake mix according to package directions using any of the recommended pan sizes. When cake is done, crumble while warm into a large bowl, and stir in the frosting until well blended.</li>
<li>Melt chocolate coating in a glass bowl in the microwave, or in a metal bowl over a pan of simmering water, stirring occasionally until smooth.</li>
<li>Use a melon baller or small scoop to form balls of the chocolate cake mixture. Dip the balls in chocolate using a toothpick or fork to hold them. Place on waxed paper to set.</li>
<li>Make crust: Grease a shallow pie dish with cooking spray. In a large bowl using a hand mixer, beat butter and sugar until smooth. Add flour, vanilla and salt and beat until combined. Stir in mini chocolate chips.</li>
<li>Press about two-thirds of the mixture into greased pie dish. Refrigerate while you make the filling and topping.</li>
<li>Make filling: In a large bowl whisk together milk and pudding mix until smooth and thickened, about 5 minutes. Fold in Cool Whip and melted chocolate until evenly combined. Pour filling into crust.</li>
<li>Make topping: Roll extra cookie dough into small balls. Place in a pile on top of filling.</li>
<li>Freeze pie until the filling is solid, about 4 hours.</li>
<li>Slice and serve cold.</li>
</ol>
<hr>
<h2>No Bake Peanut Butter Bars</h2>
<img src="https://31p86334w2bvkz0249eyr0cr-wpengine.netdna-ssl.com/wp-content/uploads/2013/07/No-Bake-Reeses-Peanut-Butter-Bars-41.jpg">
<li>1/2 cup (1 stick) butter</li>
<li>1 cup + 2 tablespoons creamy peanut butter, divided</li>
<li>1 cup graham cracker crumbs</li>
<li>1 cup powdered sugar</li>
<li>1 cup chocolate chips</li>
<ol>
<li>Line an 8″x8″ or 9″x9″ pan with aluminum foil. Set aside.</li>
<li>In a medium-sized, microwave-safe bowl, microwave the butter for 1 minute or until the butter is completely melted. Add in 1 cup of the peanut butter, graham cracker crumbs, and powdered sugar. Stir until completely combined.</li>
<li>Spread mixture evenly in the prepared pan. Place in the refrigerator.</li>
<li>In a small bowl, microwave 2 tablespoons of peanut butter with the chocolate chips until melted, about 30-45 seconds (note: this depends on the strength of your microwave). Stir until smooth. Spread over peanut butter layer.</li>
<li>Chill until firm, about 1 hour. Cut and serve!</li>
</ol>
</body>
</html>