<!DOCTYPE html>
<html>
<head>
  <title>Baking Quiz</title>
  <link rel="icon" href="https://www.iconsdb.com/icons/preview/barbie-pink/letter-k-xxl.png">
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

li a {
    display: block;
    font-family: didot;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #ff0094;
}
  body{
    background-color:#ffc1c1;
    font-family: didot;
  }
</style>
</head>
<body>
  <center>
<img src="https://document-export.canva.com/DAC_IYfJ_6A/72/preview/0001-1620668831.png">
  </center>
<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/about">About Us</a></li>
  <li><a class="active" href="/quiz">Baking Quiz</a></li>
</ul>
  <br>
  <h2> Macaroons </h2>
<img src="https://i.pinimg.com/originals/49/16/ef/4916ef295eb963cccf4a5c73030f76f1.jpg" width="200" height="349">

<li>3 egg whites</li>
<li>1/4 cup white sugar</li>
<li>1 2/3 cups confectioners' sugar</li>
<li>1 cup finely ground almonds</li>

<ol>
<li>Line a baking sheet with a silicone baking mat.</li>
<li>Beat egg whites in the bowl of a stand mixer fitted with a whisk attachment until whites are foamy; beat in white sugar and continue beating until egg whites are glossy, fluffy, and hold soft peaks. Sift confectioners' sugar and ground almonds in a separate bowl and quickly fold the almond mixture into the egg whites, about 30 strokes.</li>
<li>Spoon a small amount of batter into a plastic bag with a small corner cut off and pipe a test disk of batter, about 1 1/2 inches in diameter, onto prepared baking sheet. If the disk of batter holds a peak instead of flattening immediately, gently fold the batter a few more times and retest.</li>
 <li>When batter is mixed enough to flatten immediately into an even disk, spoon into a pastry bag fitted with a plain round tip. Pipe the batter onto the baking sheet in rounds, leaving space between the disks. Let the piped cookies stand out at room temperature until they form a hard skin on top, about 1 hour.</li>
<li>Preheat oven to 285 degrees F (140 degrees C).</li>
<li>Bake cookies until set but not browned, about 10 minutes; let cookies cool completely before filling.</li>
</ol>
<hr>
<h2>Cookie Dough Cupcake</h2>
<img src="https://dinnerthendessert.com/wp-content/uploads/2015/05/Chocolate-Chip-Cookie-Dough-Cupcakes-Side.jpg"width="537" height="300">

<li>1/2 cups all-purpose flour</li>
<li>1/4 teaspoon baking soda</li>
<li>1/4 teaspoon sea salt</li>
<li>1/2 cup butter, softened</li>
<li>1/4 cup white sugar</li>
<li>1/2 cup brown sugar</li>
<li>1 egg</li>
<li>2 teaspoons vanilla extract</li>
<li>1 cup miniature semisweet chocolate chips</li>
<li>1 box yellow cake mix</li>
<li>1 1/3 cups water</li>
<li>1/3 cup canola oil</li>
<li>3 eggs</li>

<ol>
<li>Whisk together the flour, baking soda, and sea salt; set aside. Beat the butter, white sugar, and brown sugar with an electric mixer in a large bowl until smooth. Add 1 egg and the vanilla extract and beat until smooth. Mix in the flour mixture until just incorporated. Fold in the chocolate chips; mixing just enough to evenly combine. Form the dough into tablespoon-sized balls; place onto a baking sheet, and freeze until solid, about 2 hours.</li>
<li>Preheat an oven to 350 degrees F (175 degrees C). Line 24 muffin cups with paper liners.</li>
</li>Beat 3 eggs in a large bowl with an electric mixer to break up. Add the cake mix, water, and canola oil; continue beating for 2 minutes on medium speed. Spoon into the prepared cupcake liners, filling each 2/3 full. Place a frozen cookie dough ball on the top center of each cupcake.</li>
<li>Bake in the preheated oven until a toothpick inserted into the cake portion of the cupcake (not the cookie dough ball) comes clean, about 20 minutes. Cool in the pans for 10 minutes before removing to cool completely on a wire rack.</li>
</ol>
</body>
</html>