<!DOCTYPE html>
<html>
<head>
<title>Kooking with Klossy</title>
<link rel="icon" href="http://l.thumbs.canstockphoto.com/canstock6390284.jpg">
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

li a {
    display: block;
    font-family: didot;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #ff0094;
}
  body{
    background-color:#ffc1c1;
  }
  h1 {
    font-family: signPainter;
    color: #ff0094;
    text-align: center;
  }
</style>
</head>
<body>
  <center>
<img src="https://document-export.canva.com/DAC_IYfJ_6A/72/preview/0001-1620668831.png">
  </center>
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/about">About Us</a></li>
  <li><a href="/quiz">Baking Quiz</a></li>
</ul>
<center>
  <br></br>
<img src="https://document-export.canva.com/DAC_I4vQf4g/97/preview/0001-1621066011.png">
</center>

</body>
</html>
