<!DOCTYPE html>
<html>
<head>
  <title>Baking Quiz</title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

li a {
    display: block;
    font-family: didot;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #ff0094;
}
  body{
    background-color:#ffc1c1;
    font-family: didot;
  }
</style>
</head>
<body>
  <center>
<img src="https://document-export.canva.com/DAC_IYfJ_6A/72/preview/0001-1620668831.png">
  </center>
<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/about">About Us</a></li>
  <li><a class="active" href="/quiz">Baking Quiz</a></li>
</ul>
  <br>
  <h2>No Bake Lemon Coconut Paleo Energy Bars</h2>
<img src="https://www.cottercrunch.com/wp-content/uploads/2018/01/PALEO-no-bake-lemon-coconut-cashew-energy-bars_-2.jpg" height="500" width="367">
  <h3>Bar Base</h3>
  <br>
      <li>- Parchment Paper or Wax Paper(Line)</li>
      <li>- 1 2/3 cups slivered almonds (blanched) or 1 3/4 cups raw almonds (whole)</li>
      <li>- 1 cup raw cashews</li>
      <li>- 1 cup unsweetened coconuts flakes (to grind)</li>
      <li>- 1 tbsp starch </li>
      <li>- 1/4 cup hot water</li>
      <li>- 1/4 honey or maple syrup</li>
      <li>- Lemon Zest</li>
      <li>- 1 tsp vanilla</li>
      <li>- 4 tbsp of ground flaxseeds</li>
      <li>- (Optional) 1 tbsp of lemon Juices</li>
      <li>- (Optional) 1/2 tsp of lemon extract</li>
 <br>
  <h3>Toppings</h3>
  <br>
      <li>- 1/3 cup of unsweetened coconuts flakes</li>
      <li>- Lemon Zest/Peel</li>
      <li>- 1/2 to 1 tsp Coconuts Oil</li>
      <li>- Sweeteners</li>
    <br>
<ol>
  <li>First line an 8x8 pan with parchment paper or wax paper. Set paper</li>
  <li>In a food processor or blender, grind your almonds and cashews into a finer mealy texture. I find that slivered almonds (vs whole) work best.</li>
  <li>Next add in your coconut and blend again until batter is once again, mealy in texture. Pour batter in a large bowl and mix in your starch and 1 tbsp lemon zest.</li>
  <li>eat 1/4 cup of water in a heat safe container. Mix your honey, vanilla, and lemon extract or juice into the hot water.</li>
  <li>Pour the hot water/lemon mixture into the coconut/lemon nut mixture.</li>
  <li>Mix all together with spoon or hands. Add your ground flaxseed (or protein of choice) last.</li>
  <li>Press batter into pan, evenly.</li>
  <li>Grind 1/3 cup unsweetened coconut flakes into a finer mixture. You can also just use shredded unsweetened coconut.</li>
  <li>Mix this with a 3 thinly cut and chopped lemon slices or 1 tbsp lemon zest.  and 1/2 to 1 tsp coconut oil. Mix or grind together again. Spread this mixture of the bars. If you are not looking for lower sugar option, feel free to drizzle Optional honey on top.</li>
  <li>Mix this with a 3 thinly cut and chopped lemon slices or 1 tbsp lemon zest.  and 1/2 to 1 tsp coconut oil. Mix or grind together again. Spread this mixture of the bars. If you are not looking for lower sugar option, feel free to drizzle Optional honey on top.</li>
</ol>
<hr>
<h2>Paleo Grasshopper Bars</h2>
<img src="https://i1.wp.com/raiasrecipes.com/wp-content/uploads/2014/03/DSC3303-copy.jpg?resize=924%2C615&ssl=1">
<h3>Mint Layer</h3>
<br>
  <li>2  Hass avocados<li>
<li>1/2 cup sweetener <li>
<li> 6 scoops stevia </li>
<li>4 cups organic shredded unsweetened coconut </li>
<li>3/8 tsp organic peppermint extract</li>
<li>¼ tsp salt </li>
<li>3/4 tsp vanilla</li>
<br>
<h3>Chocolate Layer</h3>
<br>
   <li> 1/2 cup coconut oil </li>
<li>1/4 cup xylitol
<li>1/2 cup cocoa powder</li>
<li>1/2 tsp vanilla </li>
<li>1/8 tsp salt </li>
<br>
<h3> Mint Layer </h3>
<ol>
<li>Lightly grease an 8x8 pan.</li>
<li>Place all ingredients in high powered blender (such as a Blendtec or Vitamix) or a food processor. Process until blended. If you prefer the texture of coconut in the finished result, do not process completely.</li>
<li>Spread mixture into prepared pan and place in freezer.</li>
</ol>
<h3>Chocolate Layer</h3>
<ol>
<li>In small saucepan, melt coconut oil and sweetener over low heat.</li>
<li>Remove from heat, add in remaining ingredients, and stir to combine. </li>
<li>Pour over chilled bottom layer. Return to the freezer until the chocolate layer is solid.</li>
<li>Cut into bars</li>
<li>Store covered in the refrigerator or freezer.</li>
</ol>
</body>
</html>