<!DOCTYPE html>
<html>
<head>
  <title>Baking Quiz</title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

li a {
    display: block;
    font-family: didot;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #ff0094;
}
  body{
    background-color:#ffc1c1;
    font-family: didot;
  }
</style>
</head>
<body>
  <center>
<img src="https://document-export.canva.com/DAC_IYfJ_6A/72/preview/0001-1620668831.png">
  </center>
<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/about">About Us</a></li>
  <li><a class="active" href="/quiz">Baking Quiz</a></li>
</ul>
  <br>
  <h2>Peanut Butter Kiss Cookies</h2>
<img src="https://images.media-allrecipes.com/userphotos/720x405/4559046.jpg">
  <li>1 cup of white sugar</li>
  <li>1 cup of peanut butter</li>
  <li>1 egg</li>
  <li>18 milk chocolate kisses, unwrapped</li>
<ol>
  <li>Preheat the oven to 350 degrees F.</li>
  <li>Combine sugar, peanut butter, and egg</li>
  <li>Shape into 1 inches and place on ungreased cook sheet. NOTE: If the dough is sticky, refrigerate 1/2 hour or until easy to handle.</li>
  <li>Bake for 10 minutes. Remove cookies from oven. Press chocolate kiss into the center of each warm cookies.</li>
</ol>
<hr>
<h2>Cake Mix Cookies</h2>
<img src="https://images.media-allrecipes.com/userphotos/250x250/170489.jpg">
  <li>2 eggs</li>
  <li>1 package of White Cake Mix</li>
  <li>1/2 cup of Vegetable Oil</li>
<ol>
  <li>Mix together cake mix, eggs, and vegetables oil.</li>
  <li>Make little balls with the dough and set on ungreased cookie sheet.</li>
  <li>Bake at 350 degrees F (175 degrees C) for 4-10 minute.</li>
</ol>
</body>
</html>