<!DOCTYPE html>
<html>
<head>
  <title>Baking Quiz</title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: center;
}

li a {
    display: block;
    font-family: didot;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: #ff0094;
}
  body{
    background-color:#ffc1c1;
    font-family: didot;
  }
</style>
</head>
<body>
  <center>
<img src="https://document-export.canva.com/DAC_IYfJ_6A/72/preview/0001-1620668831.png">
  </center>
<ul>
  <li><a href="/home">Home</a></li>
  <li><a href="/about">About Us</a></li>
  <li><a class="active" href="/quiz">Baking Quiz</a></li>
</ul>
  <br>
  <h2>Magic Cookie Bars</h2>
<img src="https://31p86334w2bvkz0249eyr0cr-wpengine.netdna-ssl.com/wp-content/uploads/2013/12/Ultimate-Magic-Cookie-Bars-with-butterscotch-chocolate-and-coconut-Get-the-recipe-at-sallysbakingaddiction.com_.jpg">
  <li>Ingredients</li>
  <br>
      <li>- 1/2 cup margarine, melted</li>
      <li>- 1 1/2 cups graham cracker crumbs</li>
      <li>- 1 cup chopped walnuts</li>
      <li>- 3/4 cup semisweet chocolate chips</li>
      <li>- 3/4 cup butterscotch chips</li>
      <li>- 1 1/2 cups flaked coconut</li>
      <li>- 1 1/3 cups sweetened condensed milk</li>
 <br>
<ol>
  <li>Preheat oven to 350 degrees F (175 degrees C).</li>
  <li>Pour melted margarine into a 9x13-inch pan. Sprinkle the graham cracker crumbs evenly over the margarine. Place the chopped nuts over the crumbs, and scatter the chocolate and butterscotch chips over the nuts. Add the coconut over all, and pour the milk evenly over the top.</li>
  <li>Bake 25 to 30 minutes or until lightly brown on top. Cool at least 20 minutes, then cut into desired sized bars.</li>
</ol>
<hr>
<h2>The Best Chocolate Chip Cookie</h2>
<img src="https://www.jocooks.com/wp-content/uploads/2011/06/best-ever-chocolate-chip-cookies-1.jpg">
  <li>Ingredients</li>
  <br>
      <li>- 1 cup butter, softened</li>
      <li>- 1 cup white sugar</li>
      <li>- 1 cup packed brown sugar</li>
      <li>- 2 eggs</li>
      <li>- 2 teaspoons vanilla extract</li>
      <li>- 1 teaspoon baking soda</li>
      <li>- 2 teaspoons hot water</li>
      <li>- 1/2 teaspoon salt</li>
      <li>- 3 cups all-purpose flour</li>
      <li>- 2 cups semisweet chocolate chips</li>
      <li>- 1 cup chopped walnuts</li>
 <br>
<ol>
  <li>Preheat oven to 350 degrees F (175 degrees C).</li>
  <li>Cream together the butter, white sugar, and brown sugar until smooth. Beat in the eggs one at a time, then stir in the vanilla. Dissolve baking soda in hot water. Add to batter along with salt. Stir in flour, chocolate chips, and nuts. Drop by large spoonfuls onto ungreased pans.</li>
  <li>Bake for about 10 minutes in the preheated oven, or until edges are nicely browned.</li>
</ol>
</body>
</html>